extends layout

block content
    .ui.vertical.stripe.segment
        .ui.text.container
            h1.ui.center.aligned.header  アプリ開発
            .ui.divider
            p.pre.left
                | お客様特注のアプリに加え、弊会オリジナルアプリの開発にも力を注いでいます。
                | <br>
                | 国内外の高スキルな開発スタッフが手掛けるWEBアプリでは、HTML5の仕様に準拠した独創的な機能を有し、Windows 、iPad、iPhone、Android等あらゆる端末で特に追加アプリのインストールが不要なブラウザ単体でも動作するという高付加価値な商品作りを心掛けております。
                | <br>
                | アプリは順次開発・リリースしてまいります。お客様だけでのアプリ導入に不安がある場合は、弊会会員のオンサイトスタッフが担当し、現場での導入とご説明をおこないます。
                | <br>
                | アプリは年に2回のペースを目標に新作をリリースする予定です。
    .ui.container.vertical.segment
        .ui.stackable.grid
            .row
                .column
                    .ui.vertical.center.aligned.segment
                        h1.ui.header リリース済みアプリ
            .row
                .six.wide.column
                    .ui.vertical.segment
                        .ui.centered.card
                            .image
                                img(src='images/develop/junban-logo.png')
                            .content
                                .header 順番コンシェル
                                .meta
                                    a 順番マネージメント・ウェブアプリ
                                .description

                            .extra.content
                                span.right.floated
                                    | リリース日 2015年11月
                                span
                                    i.user.icon
                                    | 稼働中
                            .extra.content
                                a.ui.right.floated.button(href="https://beta.junban-concierge.com", target="_blank") 紹介ページ
                .ten.wide.column
                    .ui.vertical.segment
                        table.ui.padded.definition.table
                            tbody
                                tr
                                    td
                                        h3 名称
                                    td
                                        | 和名：順番コンシェル
                                        br
                                        | 英名：Queue Management System Line-9
                                tr
                                    td
                                        h3 ジャンル
                                    td  順番マネージメント
                                tr
                                tr
                                    td
                                        h3 対象
                                    td  飲食店、医院等
                                tr
                                    td
                                        h3 特徴
                                    td
                                        ol.ui.list
                                            li 順番待ちの登録をタッチスクリーンでおこなう。
                                            li カスタマイズ可能な顧客への質問を4問まで作成可能。
                                            li スタッフは順番をスマートフォンで管理できる。
                                            li 順番のステータスはタブレットで確認可能
                                            li 順番のステータスを顧客スマートフォンでも確認可能
                                            li 待ち時間の統計をグラフまたはCSVで出力可能
                                tr
                                    td
                                        h3 対応OS
                                    td
                                        | サポート Android 4.4.2 以上端末, Chrome 32 以上, iPod、iphone
