extends layout

block content
    .ui.vertical.stripe.segment
        .ui.middle.aligned.stackable.grid.container
            .row
                .center.aligned.column
                    h1  アプリ開発
            .row
                .twelve.wide.column
                    p.pre
                        | お客様特注のアプリに加え、弊会オリジナルアプリの開発にも力を注いでいます。国内外の高スキルな開発スタッフが手掛けるWEBアプリでは、HTML5の仕様に準拠した独創的な機能を有し、Windows 、iPad、iPhone、Android等あらゆる端末で特に追加アプリのインストールが不要なブラウザ単体でも動作するという高付加価値な商品作りを心掛けております。
                        | アプリは順次開発・リリースしてまいります。お客様だけでのアプリ導入に不安がある場合は、弊会会員のオンサイトスタッフが担当し、現場での導入とご説明をおこないます。
                        | アプリは年に2回のペースを目標に新作をリリースする予定です。

                    h3.ui.header リリース済みアプリ
                    p
                        | PCが普及する前は存在しなかった、オンサイト〈出張〉でのサポート業務は、ブロードバンドの普及とともに依頼するクライアントと従事するサポートスタッフが急速に増えました。
                        | プロバイダーやPCの販売店は、当初サポート業者に「お客様へのサポートを代わりにやっていただく」意識が強かったため、自分たちの取次手数料はほとんど取っていなかったのですが、依頼する顧客が多くなると、手数料を理不尽に多く搾取するようになりました。大手量販店の中には子会社を2つ挟み、お客様から10,000円のサポート料をいただいても、サポートスタッフには2,000円しか支払われないという受難の時期がありました。恐らくこの時期に多くの有能なオンサイトスタッフが見切りをつけてしまいました。
                        | 弊会では、有能なスタッフに一流の仕事を提供していただくため、弊会でいただく取次手数料を極力抑えた上でルール化し、喜んでサポートにあたってもらえるようにしています。
                        | お客様から頂いたサポート料は担当したスタッフに満足いただく報酬として還元されるということです。
                        | 不要な介在人が存在し上前をはねる仕組みでは、決して高付加価値のあるサポートは生まれません。満足な報酬が、満足なサポートを生み出す。これが原則です。

                .four.wide.right.floated.column
                    img.ui.large.bordered.rounded.image(src='assets/images/wireframe/white-image.png')