extends layout

block content
  .ui.vertical.stripe.segment
    .ui.middle.aligned.stackable.grid.container
      .row
        .center.aligned.column
          h1= message
      .row
        .twelve.wide.column
          p.pre= error.status
          p.pre= error.stack