extends layout

block content
    .pusher
        #masthead.ui.inverted.vertical.masthead.center.aligned.segment
            .ui.text.container
                h1.ui.inverted.header
                    | PSE
                h2.ui.subheader
                    | PCサポート技術協会

                .ui.huge.primary.button
                    | Get Started
                    i.right.arrow.icon
        .ui.vertical.stripe.segment
            .ui.middle.aligned.stackable.grid.container
                .row
                    .column
                        h3.ui.header Together as one
                        p.pre.left
                            | IT技術者の、個々の“知恵”と“行動力”を結集し、
                            | 自分たちの生産する“価値”を効率的に高めていくとこを目指し活動しています。
                            | IT技術は急速に進歩しましたが、
                            | 企業活動への応用という点では、
                            | 日本ではかなり遅れているのが現状です。
                            | 当会では、会員のコラボレーションにより、
                            | IT革命の恩恵に縁遠かった企業ユーザ様へ、
                            | これまでになかったサービスをご提供するこ同時に、
                            | 自己のスキルアップも達成することを目標としています。
                .row
                    .center.aligned.column
                        a.ui.huge.button Check Them Out
        .ui.vertical.stripe.quote.segment
            .ui.equal.width.stackable.internally.celled.grid
                .center.aligned.row
                    .column
                        h3 "アプリ関連情報"
                        p.left
                            h4 「順番コンシェル」リリース                            |
                            p.left
                                | タッチパネルで操作する“お客様順番管理システム”「順番コンシェル」がリリースされました。
                                a(href="#")詳しく
                            h4 現在開発中のアプリ
                            p.left
                                | 歯科医院向けWEB予約アプリとAndroid順番管理アプリを開発中です。リリース次第、このサイトでご連絡いたします。
                                a(href="#")詳しく
                    .column
                        h3 "企業の皆様へ"
                        p.pre.left
                            | IT経費を見直しませんか？
                            | PCサポート技術者協会は、
                            | 企業とITエンジニアをつなぐ架け橋役を担っております。
                            |「開発したいツールがあるが費用が心配」
                            |「PCをリプレースしたい」
                            |「WEBサイトをリニューアルしたい」等IT系の問題は、
                            | 会員エンジニアにより適切なソニューションを安価にてご提供することが可能です。
                            | 是非ご相談ください。
                            a(href="#") 詳しく
                    .column
                        h3 エンジニアの皆様へ
                        p.pre.left
                            | 弊会では、既に日本で活動されているIT系の技術者を会員として広く募集しております。
                            | WEBデザイン、WEBアプリ開発、サーバ構築、オンサイトサポート等、
                            | 深い専門知識と経験をお持ちのエンジニア様は、
                            |是非ご入会下さい。
                            a(href="#") 詳しく
        .ui.vertical.stripe.segment
            .ui.text.container
                h3.ui.header オンサイト導入支援者急募！
                p.pre
                    | Androidタブレットで動く順番管理アプリ「順番コンシェル」の現地（顧客店舗または医院）への導入を担当していただけるオンサイト導入スタッフを募集しております。
                    | Android端末、無線LANに詳しく出張サポートのご経験があるカスタマエンジニアは是非ご連絡ください。

                a.ui.large.button 詳しくはこちら



