extends layout

block content
    .ui.vertical.stripe.segment
        .ui.text.container
            h1.ui.center.aligned.header  お問合せ
            .ui.divider
            p.pre
                | お問合せは正常に完了しました。
                | 後日担当からご連絡いたしますので、しばらくお待ちください。