@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none !important;
    }

    .secondary.pointing.menu .toc.item {
        display: block !important;
    }

    .masthead.segment {
        min-height: 350px;
        background-size: 800% !important;
        background-position: center 500% !important;
    }

    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}